DATAPORTEN_ID=fcaa9e30-a6d3-4809-8fea-cdd7b3de1c98
DATAPORTEN_SECRET=<INSERT DATAPORTEN SECRET>
DATAPORTEN_REDIRECT_URI=http://localhost:3000/authCallback
GOOGLE_DRIVE_API_KEY=<INSERT GOOGLE API KEY>
AWS_SECRET_ACCESS_KEY=<INSERT AWS SECRET ACCESS KEY>
AWS_ACCESS_KEY_ID=<INSERT AWS ACCESS KEY ID>
VIPPS_CLIENT_ID=34a58e3e-0c8f-4c3e-842d-74c91a22bc1b
VIPPS_SECRET=<INSERT VIPPS SECRET>
VIPPS_MERCHANT_SERIAL_NUMBER=215016
VIPPS_SUBSCRIPTION_KEY=<INSERT VIPPS SUBSCRIPTION KEY>
AWS_SES_REGION_NAME=<INSERT AWS SES REGION NAME>
AWS_SES_REGION_ENDPOINT=<INSERT AWS SES REGION ENDPOINT>
AWS_SES_AUTO_THROTTLE=0
EMAIL_MAX_RECIPIENTS=50
DJANGO_ENVIRONMENT=development
CELERY_BROKER=rabbitmq:5672/
CELERY_BACKEND=rpc://
CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASS=admin123
CELERY_TASK_RESULT_EXPIRES=86400
RABBITMQ_DEFAULT_USER=user1
RABBITMQ_DEFAULT_PASS=password1
CELERY_CONCURRENCY=20
CELERY_LOGLEVEL=INFO
CELERY_QUEUES=default,low_priority,high_priority
