html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  background: #f2efea;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
