html,
body {
  font-size: 16px;
}

body {
  background: #e2ddd5;
}

* {
  box-sizing: border-box;
}

a {
  color: #158b65;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

#mobile-warning {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px;
  background: red;
  color: white;
  z-index: 100000;
}

@media only screen and (min-width: 970px) {
  #mobile-warning {
    display: none;
  }
}
