<!DOCTYPE html>

<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />

    <style>
      span {
        white-space: nowrap;
      }

      @media (min-width: 1000px) {
        .contentDiv {
          margin: 20px auto;
          width: 80%;
        }
      }
    </style>
  </head>
  <body style="font-family: Open Sans, sans-serif">
    <div
      style="
        border: 5px solid #065a5a;
        text-align: center;
        padding: 50px;
        background-color: #f5f0eb;
        width: 80%;
      "
      class="contentDiv"
    >
      {% load static %}

      <h2>Hei {{ first_name }} {{last_name}}!</h2>
      <p>
        Dette er en ordrebekreftelse på ditt kjøp på
        <a href="https://indokntnu.no">indokntnu.no</a>. Din ordre-ID er
        <strong>{{ order_id }}</strong>.
      </p>
      <p>
        Du kan til enhver tid finne tilsvarende ordrebekreftelse på nettisden på
        <a
          href="https://indokntnu.no/ecommerce/fallback?orderId={{ order_id }}&redirect=/ecommerce"
          >denne linken</a
        >.
      </p>
      <h2>Din bestilling</h2>
      <p>
        <strong>Bestillingsdato:</strong> {{ timestamp }} <br />
        <strong>Ordre-ID:</strong> {{ order_id }} <br />
        <strong>Betalingsform:</strong> Vipps
      </p>
      <p>
        Produkt:
        <span><strong>{{ product }}</strong></span> - {{ quantity }}stk á
        <strong>kr {{ price }}</strong>
      </p>
      <h3>Totalpris: <strong>kr {{ price }}</strong></h3>
      <hr />
      <p>
        Se en oversikt over alle dine ordrer på
        <a href="https://indokntnu.no/ecommerce">denne linken</a> (krever
        innlogging).
      </p>
      <p>Ikke nøl med å ta kontakt om du skulle ha spørsmål.</p>
      <p>Med vennlig hilsen,</p>
      <p>
        Rubberdøk <br />
        <a href="mailto:kontakt@rubberdok.no"></a>kontakt@rubberdok.no <br /><a
          href="https://indokntnu.no"
          >indokntnu.no</a
        >
      </p>
      <img
        src="https://raw.githubusercontent.com/rubberdok/indok-web/docs/assets/rubberdok_logo_signature.png"
        alt="logo image"
        width="200"
      />
    </div>
  </body>
</html>
