<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />

    <style>
      span {
        white-space: nowrap;
      }

      @media (min-width: 1000px) {
        .contentDiv {
          margin: 20px auto;
          width: 80%;
        }
      }
    </style>
  </head>
  <body style="font-family: Montserrat">
    <div
      style="
        border: 5px solid #065a5a;
        text-align: center;
        padding: 50px;
        background-color: #f5f0eb;
        width: 80%;
        box-shadow: 11px 17px 52px -12px rgba(0, 0, 0, 0.48);
      "
    >
      {% load static %}

      <img
        src="cid:hyttestyret_logo.png"
        alt=""
        style="width: 270px; margin: auto"
      />
      <h2>Opprettelse av booking</h2>
      <p>
        Det har blitt opprettet en booking av {{ cabin }} fra
        <span><b>{{fromDate }}</b></span> til
        <span><b>{{ toDate }}</b>.</span>
      </p>
      Prisen kommer på <b>{{ price }} kr</b>.
      <div class="contentDiv">
        <p>Kontakt: {{ email }}, {{ firstname }} {{ surname }}</p>
      </div>
      <a
        href="#"
        style="
          color: white;
          background-color: #065a5a;
          display: inline-block;
          margin: 10px;
          padding: 15px;
          text-decoration: none;
        "
        >Link til admin-sider</a
      >
      <p>Med vennlig hilsen,</p>
      <p>
        Hovedstyrets webkomite
        <br />hswebkom@gmail.com / tlf. 45873401 <br /><a
          href="https://indokntnu.no/"
          >indokntnu.no/
        </a>
      </p>

      <a
        style="
          color: white;
          background-color: #065a5a;
          display: inline-block;
          margin: 10px;
          padding: 15px;
          text-decoration: none;
        "
        href="{{ link }}"
        >Legg til i Google Calendar</a
      >
    </div>
  </body>
</html>
