<!DOCTYPE html>

<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />

    <style>
      span {
        white-space: nowrap;
      }

      @media (min-width: 1000px) {
        .contentDiv {
          margin: 20px auto;
          width: 80%;
        }
      }
    </style>
  </head>
  <body style="font-family: Open Sans, sans-serif">
    <div
      style="
        border: 5px solid #065a5a;
        text-align: center;
        padding: 50px;
        background-color: #f5f0eb;
        width: 80%;
      "
      class="contentDiv"
    >
      {% load static %}

      <h2>Hei {{ first_name }}!</h2>
      <p>
        Din søknad for booking av <strong>{{ chosen_cabins_string }}</strong> fra
        <span><strong>{{ check_in }}</strong></span> til
        <span
          ><strong>{{ check_out }}</strong> har blitt <strong>godkjent</strong> av
          Hytteforeningen.</span
        >
      </p>
        <p>Prisen kommer på <strong>{{ price }} kr</strong>. Det blir sendt ut faktura på mail fra Hytteforeningen.</p>
        <p>Det er nøkkelboks på hyttene, ta kontakt nærmere avreise for å få tilsendt koden.</p>
        <p>Internett: <strong>IndokNetworker</strong>. Passord: <strong>PaaHytta</strong></p>
        <p>
          Hytten skal forlates i minst like god stand som den ble funnet, og
          instrukser for utvask henger ved ytterdøren, samt som vedlegg i denne
          mailen. Dere står selv ansvarlig for eventuelle skader som måtte
          forekomme. Avbestilling uten gebyr må forekomme minst to uker før
          avreise. Vennligst les nøye gjennom reglementet, brukerveiledning av stamp og sjekklisten før
          dere kommer til hytta. Om det oppdages noen mangler eller skader på hyttene ved ankomst, meld ifra til 
          <a href="mailto:drift.indokhyttene@gmail.com">drift.indokhyttene@gmail.com</a>.
        </p>
      <p>Ikke nøl med å ta kontakt hvis dere skulle ha spørsmål.</p>
      <h2>God tur!</h2>
      <p>Med vennlig hilsen,</p>
      <p>
        {{ booking_responsible_name }} <br />Bookingansvarlig Hytteforeningen,
        <br />Indøkhyttene NTNU <br />{{ booking_responsible_email }} / tlf. {{ booking_responsible_phone }} <br /><a
          href="https://indokntnu.no/cabins"
          >https://indokntnu.no/cabins</a
        >
      </p>
    </div>
  </body>
</html>
