<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />

    <style>
      span {
        white-space: nowrap;
      }

      @media (min-width: 1000px) {
        .contentDiv {
          margin: 20px auto;
          width: 80%;
        }
      }
    </style>
  </head>
  <body style="font-family: Montserrat">
    <div
      style="
        border: 5px solid #065a5a;
        text-align: center;
        padding: 50px;
        background-color: #f5f0eb;
        width: 80%;
      "
    >
      {% load static %}

      <h2>Hei {{ first_name }}!</h2>
      <p>
          Din søknad for booking av <b>{{ chosen_cabins_string }}</b> fra
        <span><b>{{ check_in }}</b></span> til
          <span><b>{{ check_out }}</b> har blitt <b>godkjent</b> av hyttestyret.</span>
      </p>
      Prisen kommer på <b>{{ price }} kr</b>. Betaling skjer via Tripletex, der det blir sendt ut en faktura på mail fra Hyttestyret.
      <div class="contentDiv">
        <p>
          Hytten skal forlates i minst like god stand som den ble funnet, og
          instrukser for utvask henger ved ytterdøren, samt som vedlegg i denne
          mailen. Dere står selv ansvarlig for eventuelle skader som måtte
          forekomme. Avbestilling uten gebyr må forekomme minst to uker før
          avreise. Vennligst les nøye gjennom reglementet og sjekklisten før
          dere kommer til hytta.
        </p>
      </div>
      <p>Ikke nøl med å ta kontakt hvis dere skulle ha spørsmål.</p>
      <h2>God tur!</h2>
      <p>Med vennlig hilsen,</p>
      <p>
        Ellie Berglund <br />Bookingansvarlig Hyttestyret, <br />Indøkhyttene
        NTNU <br />booking@indokhyttene.no / tlf. 94258380 <br /><a
          href="https://www.januslinjeforening.no/indokhyttene/"
          >januslinjeforening.no/indokhyttene/</a
        >
      </p>
    </div>
  </body>
</html>
