{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",

    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    
    "transform": {
      "decoratorMetadata": true
    },

    "paths": {
      "@/*": ["./src/*"]
    },
    "baseUrl": "."
  }
}
